config/keys/*.pem
files/*.pem
files/id_rsa
files/known_hosts
*.gem
*.rbc
.idea
.bundle
.config
.capistrano
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
config/keys
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
.DS_Store
.vagrant
hiera.yaml
config/custom_system_config/environments/production/modules/hosts/facts.d/facts.yaml
config/hiera/custom_config.yaml
files/id_rsa
files/known_hosts
